<form #form (ngSubmit)="submit(form)">
  <div class="form-group">
    <label for="name">Course Name</label>
    <input ngModel required name="name" minlength="5" #name="ngModel" type="text" class="form-control">
    <div class="alert alert-danger" *ngIf="!name.valid && name.touched">
      <div *ngIf="name.errors.required">Course Name Required</div>
      <div *ngIf="name.errors.minlength">5 Character Minimum</div>
    </div>
  </div>
  <div class="form-group">
    <label>Category</label>
    <select required ngModel #categories="ngModel" name="categories">
      <option *ngFor="let category of formCategories" [value]='category.id'>
        {{category.name}}
      </option>
    </select>
    <div class="alert alert-danger" *ngIf="!categories.valid && categories.touched">
      <div *ngIf="categories.errors">Category Required</div>
    </div>
    <input id="comment" cols="30" rows="10" class="form-control">
  </div>
  <div class="form-group">
    <div class="checkbox">
      <input type="checkbox" ngModel name="hasGuaruntee" #hasGuaruntee class="checkClass">
      <label>
        30-day money-back guaruntee
      </label>
    </div>
    <div class="alert alert-danger" *ngIf="!hasGuaruntee.invalid && hasGuaruntee.touched">
      <div *ngIf="!hasGuaruntee.errors">Guaruntee Required</div>
    </div>
  </div>
  <p>
    {{ form.value | json }}
  </p>
  <button [disabled]="form.invalid" class="btn btn-primary">Submit</button>
</form>
