<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{title | titleCase}}!
  </h1>
</div>
<h2>3 Authors</h2>
<app-courses>
</app-courses>
<zippy title="Shipping Details" content="Shipping Details Content">
</zippy>
<zippy title="Billing Details" content="Billing Details Content">
</zippy>
<div class="glyphicon"
[class.glyphicon-star]=isFavorite
[class.glyphicon-star-empty]=!isFavorite
 (click)="toggleFavorite()"> </div>
 <input [(ngModel)]="textValue" type="text">
<div>{{textValue | titleCase}}</div>
<br>
stuff
<signup-form></signup-form>
